{% extends "notes/base.html" %}
{% load static %}

{% block content %}

<div class="appbar">
  <a href="{% url 'index' %}" class="logolink"><img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/></a>
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<form method="post" class="form-card-edit">
    {% csrf_token %}
    <label for="titulo">Título</label>
    <input type="text" id="title" name="title" value="{{ note.title }}" class="autoresize">
    <br>
    <label for="content">Detalhes</label>
    <input id="content" name="content" value="{{ note.content }}" class="autoresize">
    <br>
    <label for="tag">Tag</label>
    <input id="tag" name="tag" value="{{ note.tag }}" class="autoresize"/>
    <button type="submit" class="edit-btn">Salvar</button>
    <button class="edit-btn" onclick="window.location.href='{% url 'index' %}'">Cancelar</button>
</form>

{% endblock %}