{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<main class="container">
  <!-- method="post" foi removido apenas para o exemplo funcionar sem o servidor -->
  <form method="post" class="form-card">
    {% csrf_token %}
    <label for="titulo">Título</label>
    <input id="titulo" type="text" name="titulo" class="autoresize"/>
    <label for="detalhes">Detalhes</label>
    <input id="detalhes" name="detalhes" class="autoresize"/>
    <input type="submit" class="btn"/>
  </form>

<ul class="card-container">
  {% for note in notes %}
  <li class="card">
    <a href="delete/{{ note.id }}">X</a>
    <h3 class="card-title">{{note.title}}</h3>
    <p class="card-content">{{note.content}}</p>
  </li>
  {% endfor %}
</ul>

</main>

<script type="text/javascript" src="{% static 'notes/script/getit.js' %}"></script>



{% endblock %}