{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <a href="{% url 'index' %}" class="logolink"><img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/></a>
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<main class="container">
  <!-- method="post" foi removido apenas para o exemplo funcionar sem o servidor -->
  <form method="post" class="form-card">
    {% csrf_token %}
    <label for="titulo">Título</label>
    <input id="titulo" type="text" name="titulo" class="autoresize"/>
    <label for="detalhes">Detalhes</label>
    <input id="detalhes" name="detalhes" class="autoresize"/>
    <label for="tag">Tag</label>
    <input id="tag" name="tag" class="autoresize"/>
    <input type="submit" class="btn"/>
  </form>

<ul class="card-container">
  {% for note in notes %}
  <li class="card">
    <a class="lixopic" href="delete/{{ note.id }}"><img src="{% static 'notes/img/lixo.png' %}" alt="delete"></a>
    <!-- <a href="{% url 'delete_note' note.id %}">X</a> é possível tanto dessa maneira quanto a de acima  -->
    <a class="editpic" href="edit/{{ note.id }}"><img src="{% static 'notes/img/edit.png' %}" alt="Editar"></a>
    <h3 class="card-title">{{note.title}}</h3>
    <p class="card-content">{{note.content}}</p>
    <!-- <a class="card-tag">Tag: {{ note.tag.name }}</a> -->
    <p class="card-tag" href="tags/{{ note.tag.id }}">#{{ note.tag.name }}</p>
  </li>
  {% endfor %}
</ul>

<button class="btn" onclick="window.location.href='{% url 'tag_list' %}'">Ver Todas as Tags</button>


</main>

<script type="text/javascript" src="{% static 'notes/script/getit.js' %}"></script>



{% endblock %}