{% extends "notes/base.html" %}
{% load static %}

{% block content %}

<div class="appbar">
    <a href="{% url 'index' %}" class="logolink"><img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/></a>
    <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<main class="tags-container">

    
    <h1 class="titulo-tags2">Todas as Tags:</h1>

    <ul>
        {% for tag in tags %}
        {% if tag.name %}
        <li><a class="li-tags" href="{% url 'notes_by_tag' tag.id %}">#{{ tag.name }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</main>


{% endblock %}